@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --textColor: hsl(223, 10%, 36%);
  --contrastColor: hsl(281, 26%, 48%);
  --background: hsl(280, 13%, 87%);
  --background-darken: hsl(280, 13%, 50%);
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  background-color: var(--background);
  color: var(--textColor);
}

* {
  font-family: "Poppins", Arial, sans-serif;
}

main > h1, h2 {
  text-align: center;
}

main > h2 {
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 500;
}

main > h1 {
  font-size: 3rem;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--contrastColor);
}

button {
  background-color: var(--contrastColor);
  font-size: 2rem;
  color: white;
  border-color: #000;
  cursor: pointer;
}

button:hover {
  background-color: var(--background-darken);
}

#introduction {
  font-weight: 500;
}

.supplements-list {
  list-style: square;
}